body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.section_content{
    display:inline-block;
     padding-right:10px;
    margin:5px;
}
.book_info{
    list-style: none;
}
.title{
    font: bold 12pt arial;
}
.cover_image{
    height:90px;
    width:65px;
    display:block;
    margin: 0 auto;
}
.description_content{
    font: 10pt arial;
}

.rating_icon{
    box-sizing:border-box;
    width:10px;
    height:10px;
}

.price{
    text-align: right;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


