<form method="post" id="purchase_details_form" action="javascript:void(null)" onsubmit="call()">
    <h3>Оформление заказа</h3>
    <div><span>ФИО:</span><input required type="text" name="FullName" /></div>   
    <div><span>Почтовый индекс:</span><input required type="text" name="Postcode" /></div>
    <div><span>Страна:</span><input required type="text" name="Country" /></div>
    <div><span>Город:</span><input required type="text" name="City" /></div>
    <div><span>Улица:</span><input required type="text" name="Street" /></div>
    <div><span>Дом:</span><input required type="text" name="House" /></div>
    <div><span>Квартира:</span><input required type="text" name="Apartment" /></div>
    <div><span>Номер телефона:</span><input type="text" name="PhoneNumber" /></div>
    <button type="submit">Отправить</button>
</form>

@section scripts{
<script>
    function call() {
        var details = {};
            var purchaseDetails = $('#purchase_details_form').serializeArray().map(function (x) {
                details[x.name] = x.value;
            });
            var ids = JSON.parse(localStorage.getItem('bookIds'));
            var cart = JSON.parse($.cookie('cart'));
            var guestId = { GuestId: cart.GuestId }
            var bookIds = { bookIds: ids };
            var order = Object.assign(bookIds,details, guestId);
            
            $.ajax({
                type: 'POST',
                url: '/Purchase/Checkout',
                data: order,
                success: function (data) {
                },
                error: function (xhr, str) {
                    alert('Возникла ошибка: ' + xhr.responseCode);
                }
            });
        }
</script>
}