<form method="post" id="purchase_details_form" action="javascript:void(null)" onsubmit="call()">
    <legend>Оформление заказа</legend>
    <span>ФИО:</span><input type="text" name="FullName"/>
    <span>Почтовый индекс:</span><input type="text" name="Postcode"/>
    <span>Страна:</span><input type="text" name="Country"/>
    <span>Город:</span><input type="text" name="City"/>
    <span>Улица:</span><input type="text" name="Street"/>
    <span>Дом:</span><input type="text" name="House"/>
    <span>Квартира:</span><input type="text" name="Apartment"/>
    <span>Номер телефона:</span><input type="text" name="PhoneNumber"/>
    <button type="submit">Отправить</button>
</form>

@section scripts{
<script>
    function call() {
        var details = {};
            var purchaseDetails = $('#purchase_details_form').serializeArray().map(function (x) {
                details[x.name] = x.value;
            });
            var ids = JSON.parse(localStorage.getItem('bookIds'));
            var bookIds = { bookIds: ids };
            var order = Object.assign(bookIds,details);
            
            $.ajax({
                type: 'POST',
                url: '/Purchase/Checkout',
                data: order,
                success: function (data) {
                },
                error: function (xhr, str) {
                    alert('Возникла ошибка: ' + xhr.responseCode);
                }
            });
        }
</script>
}